# Copy this file to ${XDG_DATA_HOME}/invidious/invidious.env, then set the random keys below.
INVIDIOUS_DATA_DIR=/Users/USERNAME/.local/share/invidious
INVIDIOUS_SOURCE_DIR=/Users/USERNAME/.local/share/invidious/source
INVIDIOUS_DB_PASSWORD=invidious
INVIDIOUS_HMAC_KEY=unique-random-secret
# This key must be exactly 16 characters long (e.g. `openssl rand -hex 8`).
INVIDIOUS_COMPANION_KEY=16-character-random-key
